<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<form action="#" th:action="@{/signup}" th:method="post" th:object="${person}">
    <div class="wrapper">
        <div class="title">
            Sign Up To Chatter
        </div>
        <div class="form">
            <div class="input_field">
                <label for="fullName">Full Name</label>
                <input type="text" id="fullName" th:field="${person.fullName}" class="input" required="">
            </div>
            <div class="input_field">
                <label for="email">E-mail</label>
                <input type="email" id="email" th:field="${person.email}" class="input" required=""/>
            </div>
            <div class="input_field">
                <label for="password">Password</label>
                <input type="password" id="password" th:field="${person.password}" class="input"/>
            </div>
            <div class="input_field">
                <label for="rePassword">Re-Password</label>
                <input type="password"  id="rePassword" class="input"/>
            </div>
            <div class="input_field">
                <label for="telephoneNumber">Telephone Number</label>
                <input type="tel" class="input" id="telephoneNumber" th:field="${person.telephoneNumber}"/>
            </div>
            <div class="input_field terms">
                <label class="check">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <p>I agree to the terms and conditions.</p>
            </div>
            <div class="input_field">
                <input type="submit" value="Register"  class="btn"/>
            </div>
        </div>
    </div>
</form>
</body>
</html>