<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<div layout:fragment="content">
    <link rel="stylesheet" type="text/css" th:href="@{css/pages/home.css}"/>
    <div class="container-fluid rounded" id="home-div">
        <div class="d-flex w-100 border-bottom border-dark mb-4" th:with="friendList=${user.getFriendList()}">
            <div th:replace="~{fragments/pages/home/friends-list.html :: friends-list}"></div>
            <div th:replace="~{fragments/common/side-profile :: side-profile-open-button}"></div>
        </div>
        <div th:replace="~{fragments/pages/home/main-area :: main-area}"></div>
        <div th:replace="~{fragments/common/side-profile :: side-profile}"></div>
    </div>
</div>
</body>
</html>