<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="~{fragments/layouts/main.html}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages/profile.css}" />
    <div class="container fixed-top container-sm profile-header">
        <div class="container-fluid p-4 my-1 bg-light text-black">
            <div class="row">
                <div class="col-sm">
                    <img th:src="@{https://bootdey.com/img/Content/avatar/avatar6.png}" class="img-thumbnail" alt="profile-image" width="150" height="150">
                </div>
                <div class="col-sm-10">
                    <h2  class="m-t-10 m-b-5 ml-3">Name Surname</h2>
                    <div class="container mt-3">
                        <div class="row">
                            <div class="col order-last">
                                First, but last
                            </div>
                            <div class="col">
                                Second, but unordered
                            </div>
                            <div class="col order-first mr-">
                                Third, but first
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Friends</button>
                                <button type="button" class="btn btn-primary btn-medium my-2 my-sm-0 ">Chat</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="container bg-light">
                        <br>
                        <div class="panel-group" id="accordion">
                            <div class="container-fluid">
                                <div class="row bg-secondary pt-2">
                                    <div th:with="collapseId=${'#collapse1'}" th:replace="~{fragments/pages/profile/sections :: collapse-section}"></div>
                                    <div th:with="collapseId=${'#collapse2'}" th:replace="~{fragments/pages/profile/sections :: collapse-section}"></div>
                                    <div th:with="collapseId=${'#collapse3'}" th:replace="~{fragments/pages/profile/sections :: collapse-section}"></div>
                                    <div th:with="collapseId=${'#collapse4'}" th:replace="~{fragments/pages/profile/sections :: collapse-section}"></div>
                                    <div th:with="collapseId=${'#collapse5'}" th:replace="~{fragments/pages/profile/sections :: collapse-section}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-light">
            <div th:replace="~{fragments/pages/profile/sections :: profile}"></div>
            <div th:replace="~{fragments/pages/profile/sections :: friends}"></div>
            <div th:replace="~{fragments/pages/profile/sections :: photos}"></div>
            <div th:replace="~{fragments/pages/profile/sections :: videos}"></div>
            <div th:replace="~{fragments/pages/profile/sections :: settings}"></div>
        </div>
    </div>
</div>
</body>
</html>