<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="fragments/layouts/main.html"
      lang="en">
<head>
    <title>Sign Up Here</title>
</head>
<body>
<div layout:fragment="content">
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages/signup.css}" />
    <div class="container">
        <form action="#" th:action="@{/signup}" th:method="post" th:object="${person}">
            <div class="wrapper">
                <div class="title">
                    Sign Up To Chatter
                </div>
                <div class="form">
                    <div class="input_field">
                        <label for="fullName">Full Name</label>
                        <input type="text" id="fullName" th:field="${person.fullName}" class="input" required="">
                    </div>
                    <div class="input_field">
                        <label for="email">E-mail</label>
                        <input type="email" id="email" th:field="${person.email}" class="input" required=""/>
                    </div>
                    <div class="input_field">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" onChange="onChange()" th:field="${person.password}"
                               required="" class="input"/>
                    </div>
                    <div class="input_field">
                        <label for="rePassword">Re-Password</label>
                        <input type="password" id="rePassword" name="rePassword"  onChange="onChange()" class="input"/>
                        <span id='message'></span>
                    </div>
                    <div class="input_field">
                        <label for="phone">Telephone Number</label>
                        <input type="tel" class="input" id="phone" placeholder="555-555-55-55"
                               pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" th:field="${person.telephoneNumber}" required/>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="check1">
                            <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>Option 1
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="check2">
                            <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Option 2
                        </label>
                    </div>
                    <div class="input_field">
                        <input type="submit" id="btnSubmit" value="Register"  class="btn btn-primary ml-1"/>
                        <input type="submit" id="btnLogin" value="Login"  class="btn btn-primary ml-4"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function onChange() {
        let password = document.querySelector('input[name=password]');
        let confirm = document.querySelector('input[name=rePassword]');
        if (confirm.value === password.value) {
            confirm.setCustomValidity('');
        }
        else {
            confirm.setCustomValidity('Passwords do not match');
        }
    }
</script>
</body>
</html>