<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="fragments/layouts/main.html"
      lang="en">
<head>
    <title>Sign Up Here</title>
</head>
<body>
<div layout:fragment="content">
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages/signup.css}" />
    <div class="container">
        <div class="col d-flex justify-content-center">
            <div id="card-form-signup" class="card bg-light col-12 rounded">
                <div class="card-header text-center">
                    <h2>Sign Up to Chatter</h2>
                </div>
                <div class="card-body">
                    <form action="#" class="needs-validation"  th:action="@{/signup}" th:method="post" th:object="${person}" novalidate>
                        <div class="form-group row">
                            <label for="full_name" class="col-sm-3 col-form-label">Full Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="full_name" placeholder="Enter Name Surname" th:field="${person.fullName}" name="full_name" required>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email" placeholder="Enter email" th:field="${person.email}" name="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="pwd" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="pwd" th:field="${person.password}" placeholder="Enter password" name="pwd">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="re_pwd" class="col-sm-3 col-form-label">Re-Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="re_pwd" placeholder="Enter Re-password" name="re_pwd">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tel" class="col-sm-3 col-form-label">Telephone N.</label>
                            <div class="col-sm-9">
                                <input type="tel" class="form-control mb-2" id="tel" placeholder="Enter Telephone N." th:field="${person.telephoneNumber}" name="tel">
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox checkbox-xl">
                            <input type="checkbox" class="custom-control-input" id="checkbox-1">
                            <label class="custom-control-label mb-2" for="checkbox-1">I agree to the <a href="#">Terms and Conditions</a>.</label>
                        </div>
                        <div class="custom-control custom-checkbox checkbox-xl">
                            <input type="checkbox" class="custom-control-input" id="checkbox-2">
                            <label class="custom-control-label mb-4" for="checkbox-2">Remember Me </label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-lg-6 d-flex justify-content-center">
                                <input type="submit" id="btnRegistration" value="Register"  class="btn btn-primary w-75"/>
                            </div>
                            <div class="col-sm-12 col-md-8 col-lg-6 d-flex justify-content-center">
                                <a th:href="@{/login}" class="btn btn-outline-primary w-75">Login</a>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>