<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>side-profile</title>
</head>
<body>
<div th:fragment="side-profile" id="side-profile">
    <link rel="stylesheet" type="text/css" th:href="@{css/common/side-profile.css}"/>
    <script type="text/javascript" th:src="@{/js/common/sideProfile.js}"></script>
    <a href="javascript:void(0)" id="side-profile-close-button">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
<div th:fragment="side-profile-open-button">
    <link rel="stylesheet" type="text/css" th:href="@{css/common/side-profile.css}"/>
    <div id="side-profile-open-button" class="h-100 d-flex justify-content-center align-items-center"
         onclick="openNav()">&#9776;</div>
</div>
</body>
</html>