#side-profile {
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 1s;
    position: fixed;
}

#side-profile a {
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

#side-profile #side-profile-close-button {
    position: absolute;
    top: 40px;
    right: 45px;
    height: 40px;
    width: 40px;
}

#side-profile-open-button {
    font-size:40px;
    cursor:pointer;
}

#profile-page-inline-div {

}

.hide-side-profile {
    margin-left: -200vw!important;
}