<!DOCTYPE html>profile
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/layouts/head :: head">
    <title>main</title>
</head>
<body>
<link rel="stylesheet" th:href="@{/css/layout/layout.css}">
<header th:replace="~{fragments/layouts/header :: header}"></header>
<div layout:fragment="content" class="h-100"></div>
<footer th:replace="~{fragments/layouts/footer :: footer}"></footer>
</body>
</html>