<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>profile-section</title>
</head>
<body>
<div th:fragment="profile"  id="collapse-profile" class="panel-collapse collapse show">
    <link rel="stylesheet" type="text/css" th:href="@{css/common/section-bar-hover.css}"/>
    <div class="panel-body text-center">
        <h4>Profile Section</h4>
    </div>
</div>
<div th:fragment="friends" id="collapse-friends" class="panel-collapse collapse">
    <link rel="stylesheet" type="text/css" th:href="@{css/common/section-bar-hover.css}"/>
    <div class="panel-body text-center">
        <h4>Friends Section</h4>
    </div>
</div>
<div th:fragment="photos" id="collapse-photos" class="panel-collapse collapse">
    <link rel="stylesheet" type="text/css" th:href="@{css/common/section-bar-hover.css}"/>
    <div class="panel-body text-center">
        <h4>Photos Section</h4>
    </div>
</div>
<div th:fragment="videos" id="collapse-videos" class="panel-collapse collapse">
    <link rel="stylesheet" type="text/css" th:href="@{css/common/section-bar-hover.css}"/>
    <div class="panel-body text-center">
        <h4>Videos Section</h4>
    </div>
</div>
<div th:fragment="settings" id="collapse-settings" class="panel-collapse collapse">
    <link rel="stylesheet" type="text/css" th:href="@{css/common/section-bar-hover.css}"/>
    <div class="panel-body text-center">
        <h4>Settings Section</h4>
    </div>
</div>
<div th:fragment="collapse-section" class="panel panel-default col-sm">
    <!--/*@thymesVar id="collapseId" type="java.lang.String"*/-->
    <!--/*@thymesVar id="name" type="java.lang.String"*/-->
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" class="text-warning section" data-parent="#accordion" th:href="${collapseId}" th:text="${name}"></a>
        </h4>
    </div>
</div>
</body>
</html>